## 3. Input, Operate, Execute: Understanding Operators and User Input in Python

#### Variable Assignment and Basic Arithmetic Operations

**Binary Operators**

In [1]:
a = 24
b = 6
a + b # No Semicolon

30

In [2]:
a - b

18

In [3]:
a*b

144

In [4]:
a/b # returns a floating value

4.0

In [5]:
a//b # returns an integer

4

In [6]:
a%2

0

In [7]:
a%b

0

In [8]:
p = 2
q = 10
p**q # exponentiation #p raised to power q

1024

**Unary Operators**

In [50]:
r = -q
s = -p
t = -43
print("r =",r)
print("s =",s)
print("-t =",-t)

r = -28
s = -2
-t = 43

#### User Input

In [10]:
f = int(input("Enter a number: "))

Enter a number:  7.8

ValueError: invalid literal for int() with base 10: '7.8'

In [11]:
f = int(input("Enter a number: "))

Enter a number:  11

In [12]:
g = int(input('Enter another number: '))

Enter another number:  4

In [13]:
print(f+g)
print(f-g)
print(f*g)
print(f**g)
print(f/g)
print(f//g)
print(f%g)

15
7
44
14641
2.75
2
3

In [55]:
string = input("Enter a string: ")

Enter a string:  Add Love and Subtract Hatred

In [56]:
print("You entered:",string)

You entered: Add Love and Subtract Hatred

#### Assignment Operators

In [16]:
a = 5
a += 4
print("a =",a)

a = 9

In [17]:
a -= 2
print("a =",a)

a = 7

In [18]:
a *= 3
print("a =",a)

a = 21

In [19]:
a /= 7
print("a =",a)

a = 3.0

In [20]:
a //= 3
print("a =",a)

a = 1.0

In [21]:
a *= 21
print("a =",a)

a = 21.0

In [22]:
a = int(a)
print("a =",a)

a = 21

In [23]:
a //= 7
print("a =",a)

a = 3

In [24]:
a %= 2
print(a)

1

In [25]:
a += 3
a **= 2
print(a)

16

#### Logical or Boolean Operators

In [26]:
state1 = True
state2 = False
state3 = False
state4 = True
print(state1 and state2)
print(state1 and state3)
print(state1 and state4)
print(state2 and state3)
print(state2 and state4)
print(state3 and state4)

False
False
True
False
False
False

In [27]:
print(state1 or state2)
print(state1 or state3)
print(state1 or state4)
print(state2 or state3)
print(state2 or state4)
print(state3 or state4)

True
True
True
False
True
True

In [28]:
print(not state1)
print(not state4)
print(not state3)
print(not state2)

False
False
True
True

In [29]:
print(state1 and state2 and state3 and state4)

False

In [30]:
print(state1 or state2 or state3 or state4)

True

In [31]:
print((state1 and state4) or state3)

True

In [32]:
print((state1 or state2) and state4)

True

In [33]:
print((not state4) or state1)

True

In [34]:
print(((not state1) or (not state3)) and (not state2)) #(False or True) and True ----> True

True

#### Relational Operators

In [35]:
p = 2
q = 28
print('The numbers are {} and {}'.format(p,q))

The numbers are 2 and 28

In [36]:
print(p>q)

False

In [37]:
print(p>=q)

False

In [38]:
print(p<q)

True

In [39]:
print(p<=q)

True

In [40]:
print(p==q)

False

In [41]:
print(p!=q)

True

In [42]:
print(p!=q or p>q)

True

In [43]:
print(p!=q and p>q)

False

In [44]:
print(p<q or p>q)

True

In [45]:
print(p<100 and q<100 and p<q)

True

In [46]:
print(p<100 and p>q)

False

In [47]:
print(not p<100)

False

#### String Operators

#### (i) Concatenation(+) : It is used to join two string values.

In [48]:
string1 = "Learning "
string2 = "Python"
Concatenated = string1+string2
print(string1, " + ", string2, " --------> ", Concatenated)

Learning   +  Python  -------->  Learning Python

#### (ii) Replication(*) : It is used to repeat a string for a number of times.

In [49]:
string = "Pi "
10 * string

'Pi Pi Pi Pi Pi Pi Pi Pi Pi Pi '

**Assignment 1: WAP to input three numbers from the user and print their sum.**

In [51]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = int(input("Enter third number: "))
print(x, " + ", y, " + ", z, " = ",x+y+z)

Enter first number:  45
Enter second number:  32
Enter third number:  11

45  +  32  +  11  =  88

**Assignment 2: WAP to concatenate three strings, taken inputs from the user and print the result.**

In [52]:
a = input("Enter first string: ")
b = input("Enter second string: ")
c = input("Enter third string: ")
result = a + b + c
print("Resultant string = ",result)

Enter first string:  Patiala
Enter second string:  Pun
Enter third string:  Bus

Resultant string =  PatialaPunBus

#### Concatenating a string with number

In [53]:
a = "Bhagat"
b = 100
c = a + str(b) # Concatenate string with number
print(a, " + ", b, " ----> ", c)

TypeError: 'str' object is not callable

In [57]:
a = "Bhagat"
b = 100
c = a + str(b)  # Concatenate string with number
print(a, " + ", b, " ----> ", c)

TypeError: 'str' object is not callable

In [62]:
print(type(str)) # Check for Variable shadowing... # This should output <class 'type'>

<class 'type'>

*If the output is not <class 'type'>  but something like <class 'str'>, then str has been redefined.*

In [60]:
del str  # Remove the variable shadowing the built-in str function

In [61]:
a = "Bhagat"
b = 100
c = a + str(b)  # Concatenate string with number
print(a, " + ", b, " ----> ", c)

Bhagat  +  100  ---->  Bhagat100

*Rechecked the output of print(type(str)) in cell no. 62... Now, the output is obtained as expected.*

#### Typecasting (Type Conversion)

In [64]:
int(4.2456)

4

In [65]:
int(4.78)

4

In [66]:
float(9)

9.0

In [67]:
str(100)

'100'

In [68]:
str(3.6)

'3.6'

In [69]:
float('2')

2.0

In [70]:
int("34")

34

In [71]:
str(78)

'78'

In [72]:
int('A')

ValueError: invalid literal for int() with base 10: 'A'

In [74]:
complex(45)

(45+0j)

In [75]:
int(7+8j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

#### Precedence of Operators (Descending Order):  
**1.** ()  
**2.** **  
**3.** * , /, %, //  
**4.** +,-  
**5.** Relational / Boolean / Comparison Operators  
**6.** Assignment Operators  
**7.** Logical Operators

**WAP to calculate the average marks scored in four subjects.**

In [2]:
print("Enter the marks scored out of 100:")
sub1 = float(input("Subject 1 = "))
sub2 = float(input("Subject 2 = "))
sub3 = float(input("Subject 3 = "))
sub4 = float(input("Subject 4 = "))
average = (sub1 + sub2 + sub3 + sub4) / 4
print("Average Marks =", average)

Enter the marks scored out of 100:

Subject 1 =  96
Subject 2 =  87
Subject 3 =  97
Subject 4 =  88

Average Marks = 92.0

**WAP to calculate the area and perimeter of a rectangle.**

In [3]:
l = float(input("Enter the length of the rectangle: "))
b = float(input("Enter the breadth of the rectangle: "))

area = l*b
perimeter = 2*(l+b)

print("The area of rectangle is",area)
print("The perimeter of rectangle is",perimeter)

Enter the length of the rectangle:  20
Enter the breadth of the rectangle:  12

The area of rectangle is 240.0
The perimeter of rectangle is 64.0

In [4]:
exec(In[3])

Enter the length of the rectangle:  10.6
Enter the breadth of the rectangle:  7.4

The area of rectangle is 78.44
The perimeter of rectangle is 36.0