## 5. Endless Possibilities: Unlocking the Concept of Loops in Python

#### **Learning**
#### **5.1 The Membership Operators : The 'in' Operator**  

##### The 'in' operator is used to check whether or not a given value exits in the sequence. It evaluates to <span style="color: blue; font-weight:bold;">_**True**_</span> if it finds a value in the specified sequence, else it returns to  <span style="color: blue; font-weight:bold;">_**False**_</span>. 

_**Syntax:**_ <span style="color: blue; font-weight:bold;">value in [sequence]</span>

_**Demonstration:**_

In [1]:
print(10 in [1,2,3,10])

True

In [3]:
print(100 in [10,20])

False

#### **5.2 The range() function:**  
##### The range() function is helpful in generating a sequence of numbers in the form of a list.
##### _**Syntax:**_ <span style="color: blue; font-weight:bold;">range(initial value, final value, step value)</span>  
##### _**Demonstration:**_

In [5]:
i = 15
print(i in range(10,20)) # Checking whether a given number is present in the range or not.

True

In [6]:
i = 15
print(i in range(101,200))

False

In [7]:
# Generating the sequence of numbers in the form of a list
print("range(10)         --> ", list(range(10)))
print("range(10,20)      --> ", list(range(10,20)))
print("range(0,20,2)     --> ", list(range(0,20,2)))
print("range(-10,-20,2)  --> ", list(range(-10,-20,2)))
print("range(-10,-20,-2) --> ", list(range(-10,-20,-2)))

range(10)         -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(10,20)      -->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2)     -->  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2)  -->  []
range(-10,-20,-2) -->  [-10, -12, -14, -16, -18]

#### Iterative Statements in Python: 
In Python, there are two types of iterative statements (repetitive statements / looping statements / loops):  
1. for loop   : Used when we know the exact number of iterations (e.g., iterating through a list or using a range). Also called as a definite loop.
2. while loop : Use when the number of iterations is not fixed and depends on a condition (e.g., waiting for user input or processing data until a condition is met).

#### **5.3 The for loop**  
##### _**Syntax:**_ 
##### **1.** <span style="color: green; font-weight: bold;">for</span> `<variable>` <span style="color: green; font-weight: bold;">in</span> `<sequence>`:  
> ##### loop body (statements to be executed)  

##### **2.** <span style="color: green; font-weight: bold;">for</span> `<variable>` <span style="color: green; font-weight: bold;">in</span> <span style="color: green;">range (initial value, final value, step value)</span> :  
> ##### loop body (statements to be executed)

In [8]:
# Version-1
i = 1
for i in range(1,5):
    print(i)

1
2
3
4

In [9]:
# Version-2
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [10]:
# Version-3
for i in range(0,-10,-2):
    print(i)

0
-2
-4
-6
-8

In [11]:
# Version-4
for i in (10,20,30,40,50):
    print(i)

10
20
30
40
50

In [12]:
# Version-5
fruits = ["apple", "mango", "banana", "kiwi", "orange"]
for fruit in fruits:
    print(fruit)

apple
mango
banana
kiwi
orange

#### **5.4 The While Loop**  
##### _**Syntax:**_ 
##### initialization
##### <span style="color: green; font-weight: bold;">while</span> `<condition>` :
> ##### loop body
> ##### updation

In [13]:
p = 1
while p!=11:
    print(p)
    p+=1

1
2
3
4
5
6
7
8
9
10

In [14]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

#### **5.5 The Jump Statement**  
##### The **jump** statement is used to transfer control from one part of the program to another. In Python, there are two main types of **jump** statements: <span style="color: blue;">break</span> and <span style="color: blue;">continue</span>.  

##### The **break** statement immediately *terminates/exits the loop* and the control of the program moves to the next statement following the loop structure.  
##### The **continue** statement *terminates the current iteration of the loop* and transfers the control to the top of the loop, where the condition is evaluated again. If the condition is true, the loop continues with the next iteration.

In [16]:
for blog in "ComputerMagic":
    if blog == 'p':
        break
    print(blog, end = "") 
# By default, the print() function adds a newline character (\n) after each print statement, which moves the output to the next line.
# When we set end="", it means that after each print, nothing (no newline or other character) is added at the end.
#This is useful if you want to print all items on the same line or add something else instead of a newline.

Com

In [17]:
for blog in "ComputerMagic":
    if blog == 'p':
        continue
    print(blog, end = "")

ComuterMagic

#### **Practice Programs:**

**1. WAP to print the first 10 natural numbers.**

In [18]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

**2. WAP to print the square of the numbers between 10 and 20.**

In [19]:
for x in range(10,20):
    print(x**2)

100
121
144
169
196
225
256
289
324
361

**3. WAP to print the multiples of 3 and their sum (in the range 10 to 30).**

In [20]:
i = 10
sum = 0
while i<=30:
    if i%3 == 0:
        print(i)
        sum += i
    i += 1
print("The sum of multiples of 3 in the range 10 to 30 is ",sum)

12
15
18
21
24
27
30
The sum of multiples of 3 in the range 10 to 30 is  147

**4. WAP to print the table of a number.**

In [21]:
n = int(input("Enter the number of which the table has to be printed: "))
i = 0
while i <= 10:
    print(n, " * ", i, " = ", n*i)
    i += 1

Enter the number of which the table has to be printed:  5

5  *  0  =  0
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [22]:
exec(In[21])

Enter the number of which the table has to be printed:  19

19  *  0  =  0
19  *  1  =  19
19  *  2  =  38
19  *  3  =  57
19  *  4  =  76
19  *  5  =  95
19  *  6  =  114
19  *  7  =  133
19  *  8  =  152
19  *  9  =  171
19  *  10  =  190

**5. WAP to print the sum of all the even and odd numbers within a range.**

In [23]:
a = int(input("Enter the lower limit: "))
b = int(input("Enter the upper limit: "))
even = 0
odd = 0
for i in range(a, b+1):
    if i % 2 == 0: # even number
        even += i
    else:
        odd += i

else: 
    print("Loop terminated successfully.")

print("The sum of all the even numbers in the given series is: ",even)
print("The sum of all the odd numbers in the given series is: ",odd)

Enter the lower limit:  10
Enter the upper limit:  20

Loop terminated successfully.
The sum of all the even numbers in the given series is:  90
The sum of all the odd numbers in the given series is:  75

**6. WAP to print the series: 4.. 9.. 16...........100.**

In [25]:
a = 2
b = 10
i = a
while i <= b:
    print(i**2)
    i += 1
else: # The else part will be exceuted when the loop terminates successfully.
    print()
    print("Loop terminated successfully")

4
9
16
25
36
49
64
81
100

Loop terminated successfully

**7. WAP to print the numbers in a series from 10 to 20 with a step value 3.**

In [26]:
for i in range(10,20,3):
    print(i)

10
13
16
19

**8. WAP to find the factorial of a number.**

In [27]:
num = int(input("Enter the number whose factorial has to be calculated: "))
product = 1
for i in range(1,num+1):
    product *= i
print("The factorial of the number is:",product)

Enter the number whose factorial has to be calculated:  5

The factorial of the number is: 120

**9. WAP to print the Fibonacci Series.**

In [29]:
n = int(input("Enter the level upto which you want to print the series: "))
a = 0
b = 1
print(a)
print(b)
for i in range(1,n+1):
    c = a+b
    print(c)
    a = b
    b = c

Enter the level upto which you want to print the series:  8

0
1
1
2
3
5
8
13
21
34

**10. Sum all numbers from 1 to 10**

In [32]:
# Version-1
s = 0
for i in range(1,11):
    s += i
print("Sum is: ",s)

Sum is:  55

In [33]:
# Version-2
print("Sum is: ",sum(range(1,11)))

TypeError: 'int' object is not callable

In [34]:
del sum

In [35]:
type(sum)

builtin_function_or_method

In [36]:
# Version-2
print("Sum is: ",sum(range(1,11)))

Sum is:  55

**11. WAP to check whether a number is prime or not.**

In [39]:
num = int(input("Enter a number: "))
prime = True
for i in range(2,num//2 +1):
    if num % i == 0:
        prime = False
        break

if prime == True:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number:  45

45 is not a prime number

In [40]:
exec(In[39])

Enter a number:  37

37 is a prime number

**12. Sumit wants to write the letters A to O of the English alphabet in the following pattern. Write the program helping him to do show this pattern in Python.**

<pre> <!--preserve the newlines and spaces-->
A  
B    C  
D    E    F  
G    H    I    J  
K    L    M    N    O
</pre>

In [30]:
# Initialize variables
start_char = ord('A')                         # ASCII value of 'A'
current_char = start_char
rows = 5                                      # Number of rows to display

# Generate the pattern
for i in range(1, rows + 1):                  # Loop through rows
    for j in range(i):                        # Loop through columns in each row
        print(chr(current_char), end="    ")  # Print the character with spacing
        current_char += 1                     # Move to the next character
    print()                                   # Move to the next line after each row

A
B    C
D    E    F
G    H    I    J
K    L    M    N    O

In [31]:
# Get user input for the last letter
end_char = input("Enter the last letter (A to Z): ").upper()

# Validate input
if len(end_char) != 1 or not ('A' <= end_char <= 'Z'):
    print("Invalid input. Please enter a single letter between A and Z.")
else:
    # Initialize variables
    start_char = ord('A')                         # ASCII value of 'A'
    last_char = ord(end_char)                     # ASCII value of the input letter
    current_char = start_char
    row = 1                                       # Start with the first row

    # Generate the pattern
    while current_char <= last_char:              # Loop until the current character exceeds the last letter
        for _ in range(row):                      # Loop through the columns in each row
            if current_char > last_char:          # Break if we exceed the last letter
                break
            print(chr(current_char), end="    ")  # Print the character with spacing
            current_char += 1                     # Move to the next character
        print()                                   # Move to the next line after each row
        row += 1                                  # Increment the row count

#Top Learning

Enter the last letter (A to Z):  Z

A
B    C
D    E    F
G    H    I    J
K    L    M    N    O
P    Q    R    S    T    U
V    W    X    Y    Z

#### **Assignment Tasks:**

**1. WAP to print the table of 7,9.**

In [42]:
n = 7
for i in range(1,11):
    print(n, " * ", i, " = ", n*i)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

In [43]:
n = 9
for i in range(1,11):
    print(n, " * ", i, " = ", n*i)

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

**2. WAP to print the table of n and n is given by user.**

In [44]:
n = int(input("Enter the number: "))
for i in range(1,11):
    print(n, " * ", i, " = ", n*i)

Enter the number:  16

16  *  1  =  16
16  *  2  =  32
16  *  3  =  48
16  *  4  =  64
16  *  5  =  80
16  *  6  =  96
16  *  7  =  112
16  *  8  =  128
16  *  9  =  144
16  *  10  =  160

**3. WAP to add all the numbers from 1 to n and n is given by user.**

In [47]:
n = int(input("Enter a number: "))
print("The sum of numbers from 1 to {} is {}".format(n, sum(range(1,n+1))))

Enter a number:  10

The sum of numbers from 1 to 10 is 55

**4. WAP to find max among three numbers taken input from user. [Try max() function].**

In [48]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
print("The maximum among the three numbers you entered is: ", max(a,b,c))

Enter first number:  10.5
Enter second number:  4.6
Enter third number:  8.7

The maximum among the three numbers you entered is:  10.5

In [49]:
print("The minimum is ",min(a,b,c))

The minimum is  4.6

**5. WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.**

In [51]:
n = int(input("Enter a number: "))
i = 1
s = 0
while i <= n:
    if i % 7 == 0 and i % 9 == 0:
        s += i
    i += 1

print("The sum of all numbers divisible by 7 and 9 is: ",s)

Enter a number:  100

The sum of all numbers divisible by 7 and 9 is:  63

In [52]:
# Initialize the range
start = 1
end = int(input("Enter the upper limit of the range: "))

# Calculate the sum of numbers divisible by both 7 and 9
result = sum(number for number in range(start, end + 1) if number % 7 == 0 and number % 9 == 0)

# Print the result
print("The sum of all numbers divisible by both 7 and 9 from {} to {} is {}".format(start, end, result))

Enter the upper limit of the range:  100

The sum of all numbers divisible by both 7 and 9 from 1 to 100 is 63

**6. WAP to add all prime numbers from 1 to n and n is given by the user.**

In [55]:
n = int(input("Enter the upper limit: "))
start = 2  # Prime numbers start from 2
s = 0

# Loop through all numbers from start to n
for x in range(start, n + 1):
    is_prime = True  # Assume x is prime
    for i in range(2, int(x**0.5) + 1):  # Check divisors up to the square root of x
        if x % i == 0:
            is_prime = False
            break
    if is_prime:
        s += x  # Add the prime number to the sum

print("The sum of all prime numbers from 1 to {} is {}".format(n, s))

Enter the upper limit:  100

The sum of all prime numbers from 1 to 100 is 1060