## 11. Data Structure 2 - Tuple

#### 11.1 Tuple Declaration

In [1]:
# Method 1
T = ("Pratham",'Sharma',3.14,3)

print("T               -->",T)
print("No. of elements -->",len(T))
print("Type of Object  -->",type(T))

T               --> ('Pratham', 'Sharma', 3.14, 3)
No. of elements --> 4
Type of Object  --> <class 'tuple'>

In [2]:
# Method 2
T = tuple(["Pratham",'Sharma',3.14,3])   # Convert list to tuple
# T = tuple(("Pratham",'Sharma',3.14,3)) # Also Works

print("T               -->",T)
print("No. of elements -->",len(T))
print("Type of Object  -->",type(T))

T               --> ('Pratham', 'Sharma', 3.14, 3)
No. of elements --> 4
Type of Object  --> <class 'tuple'>

#### 11.2 Tuple Iteration

#### 11.2.1 Iteration using While loop

In [3]:
T = ("Pratham",'Sharma',3.14,3)
print("T  --> ",T)

i = 0
while i < len(T):
    print(T[i])
    i += 1

T  -->  ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

#### 11.2.2 Iteration using for loop - Version 1

In [4]:
T = ("Pratham",'Sharma',3.14,3)
print("T  --> ",T)

for i in range(0,len(T)):
    print(T[i])

T  -->  ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

#### 11.2.3 Iteration using for loop - Version 2

In [5]:
T = ("Pratham",'Sharma',3.14,3)
print("T  --> ",T)

for s in T:
    print(s)

T  -->  ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

#### 11.3 Accessing/Selecting in Tuple

In [7]:
# Example 1
T = (3,6,9,12,5,3,2)
print("T     -->",T)

print("T[1]  -->",T[1])
print("T[2]  -->",T[2])
print("T[-1] -->",T[-1])
print("T[-2] -->",T[-2])

T     --> (3, 6, 9, 12, 5, 3, 2)
T[1]  --> 6
T[2]  --> 9
T[-1] --> 2
T[-2] --> 3

In [9]:
# Example 2
T = (3,6,9,12,5,3,2)
print("T        -->",T)

print("T[1:3]   -->",T[1:3])
print("T[2:]    -->",T[2:])
print("T[2:5]   -->",T[2:5]) # upper limit is exclusive
print("T[:2]    -->",T[:2])
print("T[:-1]   -->",T[:-1])
print("T[-4:-1] -->",T[-4:-1])

T        --> (3, 6, 9, 12, 5, 3, 2)
T[1:3]   --> (6, 9)
T[2:]    --> (9, 12, 5, 3, 2)
T[2:5]   --> (9, 12, 5)
T[:2]    --> (3, 6)
T[:-1]   --> (3, 6, 9, 12, 5, 3)
T[-4:-1] --> (12, 5, 3)

#### 11.4 Sum/Average of Tuple

In [11]:
T = (3,6,9,12,5,3,2)
print("T             --> ",T)
print("Sum           --> ",sum(T))
print("Average       --> ",sum(T)/len(T))
print("Average       --> ",sum(T)//len(T))

T             -->  (3, 6, 9, 12, 5, 3, 2)
Sum           -->  40
Average       -->  5.714285714285714
Average       -->  5

#### 11.5 Min/Max in Tuple

In [12]:
# Example 1
T = (3,6,9,12,5,3,2)     # Integer tuple
print("T   -->",T)
print("Max -->",max(T))
print("Min -->",min(T))

T   --> (3, 6, 9, 12, 5, 3, 2)
Max --> 12
Min --> 2

In [13]:
# Example 2
T = ("Ram", "Shyam", "Human", "Ant") # String tuple
print("T   -->",T)
print("Max -->",max(T))
print("Min -->",min(T))

T   --> ('Ram', 'Shyam', 'Human', 'Ant')
Max --> Shyam
Min --> Ant

#### 11.6 Merging Tuples

In [15]:
T1 = (3,6,9)
T2 = (12,5,3,2)

print("T1 -->",T1)
print("T2 -->",T2)

T3 = T1 + T2
print("T3 -->",T3)

T4 = T1 + T2 + T1 + T2
print("T4 -->",T4)

T1 --> (3, 6, 9)
T2 --> (12, 5, 3, 2)
T3 --> (3, 6, 9, 12, 5, 3, 2)
T4 --> (3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2)

#### 11.7 Merging part of Tuples

In [16]:
T1 = (3,6,9)
T2 = (12,5,3,2)

print("T1 -->",T1)
print("T2 -->",T2)

T3 = T1[1:2] + T2[1:3]
print("T3 -->",T3)

T4 = T1[:-2] + T2[:-3] 
print("T4 -->",T4)

T1 --> (3, 6, 9)
T2 --> (12, 5, 3, 2)
T3 --> (6, 5, 3)
T4 --> (3, 12)

#### 11.8 Searching in the Tuple

In [17]:
T = (3,6,9,12,5,3,2)
print("T       -->",T)
print("6 in T  -->",6 in T)
print("10 in T -->",10 in T)
print("12 in T -->",12 in T)

T       --> (3, 6, 9, 12, 5, 3, 2)
6 in T  --> True
10 in T --> False
12 in T --> True

#### 11.9 Adding Element to Tuple

In [18]:
T = ("Pratham",'Sharma',3.14,3)
print("T --> ",T)

T[2] = 900        # Error; 'tuple' object does not support item assignment
print("T --> ",T)

# Tuples are unchangeable. We cannot add items to it.

T -->  ('Pratham', 'Sharma', 3.14, 3)

TypeError: 'tuple' object does not support item assignment

##### Jugaad:

In [20]:
T = ("Pratham",'Sharma',3.14,3)
print("T            --> ",T)

T1 = list(T)
T1.append(9.8)
T = tuple(T1)

print("After adding -->",T)

T            -->  ('Pratham', 'Sharma', 3.14, 3)
After adding --> ('Pratham', 'Sharma', 3.14, 3, 9.8)

#### 11.10 Inserting element in Tuple- (Jugaad)

In [23]:
T = ("Pratham",'Sharma',3.14,3)
print("T               -->",T)

T1 = list(T)
T1.insert(2,"Rahul")
T = tuple(T1)

print("After insertion -->",T)

T               --> ('Pratham', 'Sharma', 3.14, 3)
After insertion --> ('Pratham', 'Sharma', 'Rahul', 3.14, 3)

#### 11.11 Deleting from Tuple

In [24]:
T = ("Pratham",'Sharma',3.14,3)
print("T              -->",T)

del T[1]
print("After deletion -->",T)

T              --> ('Pratham', 'Sharma', 3.14, 3)

TypeError: 'tuple' object doesn't support item deletion

##### Jugaad:

In [25]:
T = ("Pratham",'Sharma',3.14,3)
print("T              -->",T)

T1 = list(T)
del T1[1]
T = tuple(T1)
print("After deletion -->",T)

T              --> ('Pratham', 'Sharma', 3.14, 3)
After deletion --> ('Pratham', 3.14, 3)

In [26]:
T.index(0)

ValueError: tuple.index(x): x not in tuple

In [27]:
# Element has to be filled within the parenthesis
T.index(3.14)

1

In [28]:
T.count(3)

1